app = 'verdad-frontend'
primary_region = 'sea'

[build]
  dockerfile = "Dockerfile"
  [build.args]
    VITE_APP_BUILD = "true"

[http_service]
  internal_port = 8080
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
    memory = '1gb'
    cpu_kind = 'shared'
    cpus = 4
